@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos personalizados para el scrollbar */
@layer utilities {
    /* Estilo para Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: #D1D5DB transparent;
    }
  
    /* Estilo para Chrome, Edge, y Safari */
    *::-webkit-scrollbar {
      width: 8px;
    }
  
    *::-webkit-scrollbar-track {
      background: transparent;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: #D1D5DB;
      border-radius: 20px;
      border: 3px solid transparent;
    }
  
    *::-webkit-scrollbar-thumb:hover {
      background-color: #9CA3AF;
    }
  }

  /* Estilos para el scroll suave */
html {
    scroll-behavior: smooth;
  }
  
  /* Estilos para el navbar */
  .nav-scrolled {
    @apply bg-white shadow-md;
  }
  
  /* Transiciones suaves */
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }